[Unit]
Description= Openvpn server. Launched via Script
After=network.target  # Network has to be up first

[Service]
Type=exec
ExecStart=/usr/local/sbin/run_openvpn.sh  
Restart=on-failure  
RestartSec=5s  

[Install]
WantedBy=multi-user.target  
